<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GithubUsers-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2907E79D2316B80F00F38BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2907E7B12316B80F00F38BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2907E7BC2316B80F00F38BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
